* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky; /* Fija la barra de navegación */
    top: 0; /* La coloca en la parte superior */
    left: 273px;
    width: 70.7%; /* Ocupa el ancho total de la pantalla */
    background-color: #FFD700; /* Color de fondo amarillo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    z-index: 1000;
    border-radius: 20px;
    transition: transform 0.5s ease, top 0.5s ease; /* Transición suave */
    transform: translateY(30px); /* Desplazamiento inicial hacia abajo */
}

.navbar.sticky {
    transform: translateY(0); /* Se alinea al top cuando es sticky */
}

.logo{
    cursor: pointer;
}

.navbar nav a {
    font-family: 'Cocogoose Classic Trial';
    font-size: 20px;
    margin: 0 40px;
    text-decoration: none;
    color: #082EB7;
    font-weight: 200;
}

.navbar nav a:hover {
    text-decoration: underline white; /* Se subraya al pasar el cursor */
}

.cta-button {
    font-family: 'Cocogoose Classic Trial';
    letter-spacing: -0.5px;
    font-size: 14px;
    margin: 0 10px;
    background-color: #082EB7; /* Azul del botón */
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 0px; /* Añade un margen superior para evitar que el contenido quede debajo del menú */
}

.hero{
    background-color: #0044cc;
}
.texto {
    justify-content: space-between;
    align-items: center;
    background-color: #0044cc;
    color: rgb(37, 35, 35);
    padding: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto img {
    width: 300px;
}

.texto h1 {
    font-size: 2.5em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}